<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>gitCommit</key>
	<string>bfcf52f</string>
	<key>hashURL</key>
	<string>http://localhost/oHash/test-djia/</string>
</dict>
</plist>
